/* ----- COMMON SETTINGS ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
.new-container {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  min-width: 70px;
}
.button-style-a {
  border: 2px solid #FD9A86;
  color: #FD9A86;
}
.button-style-b {
  background: #FE775A;
  color: white;
  padding: 0 10px;
  border: 2px solid #FE775A;
}
.button-style-c {
  background: #DADEE0;
  color: #3D5364;
  margin: 10px auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* ----- END COMMON SETTINGS ----- */

/* ----- HEADER CUSTOM SETTINGS ----- */
/* -- PRIMA NAVBAR -- */
.header-top {
  background-color: #F4F9FD;
  height: 100px;
  line-height: 60px;
}
.header-top ul {
  height: 100px;
  line-height: 100px;
}
.header-top li {
  display: inline-block;
  padding: 0 20px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
}
.english {
  border-right: 2px solid black;
}
.search-icon {
  position: relative;
  top: 13px;
}
/* -- FINE PRIMA NAVBAR -- */
/* -- SECONDA NAVBAR --*/
.header-second-nav {
  height: 100px;
  line-height: 60px;
}
.header-second-nav ul {
  height: 100px;
  line-height: 100px;
}
.header-second-nav li {
  display: inline-block;
  padding: 0 20px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
}
.logo-hubspot {
  margin-top: 35px;
  width: 100%;
  height: 5px;
  background-repeat: no-repeat;
  position: absolute;
}
/* -- FINE SECONDA NAVBAR --*/

/* ----- JUMBOTRON SETTINGS ----- */
.jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  background-color: #FEF6EF;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.jumbotron::before {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  content: "";
  background-color: #AFEBE4;
}
.jumbotron-text {
  width: 50%;
}
.jumbotron-text h1 {
  padding-top: 50px;
  font-size: 50px;
}
.jumbotron-text .button {
  height: 60px;
  line-height: 60px;
  width: 200px;
}
.jumbotron-text p {

  margin-top: 40px;
  margin-bottom: 40px;
}
/* ----- END JUMBOTRON SETTINGS ----- */
/* ----- END HEADER CUSTOM SETTINGS ----- */

.main-boxes {
  width: 100%;
  height: 1600px;
  min-width: 1200px;
  background-color: #F4F9FD;
  margin: 0 auto;
}

.powerful {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 60px;
}

.powerful h1 {
  font-size: 40px;
}

.powerful p {
  padding-top: 30px;
  padding-left: 180px;
  padding-right: 180px;
}
/* ----- BOX ORIZZONTALE ----- */

.white-boxes {
  background-color: white;
  margin-top: 60px;
  width: 1200px;
  border-radius: 4px;
  box-shadow: 0 0 10px grey;
}
.white-boxes h2 {
  font-size: 40px;
  padding-top: 50px;
}
.white-boxes p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30PX;
}
.box-1 {
  width: 20%;
  height: 400px;
  text-align: center;
  padding-top: 100px;
  background-color: white;
}
.box-2 {
  width: 80%;
  height: 400px;
  text-align: left;
  padding-top: 30px;
  padding-left: 100px;
  background-color: white;
}

.box-2 h2 {
  padding-top: 50px;
}

.box-2 *{
  padding-top: 15px;
  padding-bottom: 10px;
}
/* ----- BOX ORIZZONTALE ----- */

/* box verticale */
.column-1 {
  margin-top: 60px;
  width: 30%;
  height: 600px;
  text-align: center;
  background-color: white;
}

.column-2 {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  width: 30%;
  height: 600px;
  padding: 0 15px;
  text-align: center;
  background-color: white;
}

.column-3 {
  margin-top: 60px;
  width: 30%;
  height: 600px;
  text-align: center;
  background-color: white;
}
/* box verticale */

/* ---- CONTAINER GRADIENT CON BOX ----- */
.container-blue {
  width: 100%;
  height: 700px;
  min-width: 1200px;
  text-align: center;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
}
.container-blue h2 {
  font-size: 40px;
  padding-top: 50px;
}
.container-blue p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30PX;
}
.row {
  width: 100%;
}

.box {
  width: 25%;
  height: 200px;
}
.box:first-child, .box:nth-child(2), .box:nth-child(3) {
  border-right: 1px solid white;
}
.box:nth-child(5), .box:nth-child(6), .box:nth-child(7), .box:nth-child(8) {
  border-top: 1px solid white;
}
.box:nth-child(5), .box:nth-child(6), .box:nth-child(7) {
  border-right: 1px solid white;
}
.box h3 {
  font-size: 50px;
  padding: 10px;
}
.box img {
  padding-top: 30px;
}
/* ---- CONTAINER GRADIENT CON BOX ----- */

/* --- CONTAINER BRANDS --- */
.container-brands {
  width: 100%;
  height: 300px;
  min-width: 1200px;
}
.text-left {
  width: 25%;
  text-align: center;
  color: black;
}
.brands {
  margin-top: 50px;
}
.container-brands h2 {
  font-size: 40px;
  padding-top: 50px;
}
.container-brands p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30PX;
}
/* --- CONTAINER BRANDS --- */

/* --- CONTAINER WOMAN --- */
.container-woman {
  width: 100%;
  height: 500px;
  min-width: 1200px;
  text-align: left;
}
.text-container-woman {
  width: 40%;
  color: black;
}
.image-woman img {
  height: 400px;
  width: 400px;
}
.container-woman h2 {
  font-size: 40px;
  padding-top: 50px;
}
.container-woman p {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30PX;
}
/* --- CONTAINER WOMAN --- */

/* ----- FOOTER ----- */
footer {
  width: 100%;
  height: 600px;
  min-width: 1200px;
  background-color: #32495B;
  color: white;
}

.box-footer {
  width: 25%;
  height: 200px;
}
.box-footer h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
}
.box-footer ul {
  text-align: left;
  overflow: hidden;
}
.box-footer ul li {
  padding-top: 20px;
}

.languages {
  margin-top: 270px;
  width: 100%;
  border-bottom: 1px solid grey;
  text-align: center;
}
.languages ul {
  text-align: center;
  overflow: hidden;
}
.languages ul li {
  display:inline;
  padding: 20px;
}
.languages li a {
  display:inline-block;
  text-decoration: none;
}

.fa {
  margin-top: 20px;
  margin-right: 25px;
}

/* ----- FOOTER ----- */
